body {
  background: #f7f7f9;
  font-family: 'Poppins', Arial, sans-serif;
}

.main-body {
  background-image: url(images/background.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right;
  flex-wrap: wrap;
}

.bar-desktop {
  display: none;
}

.h1-text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 114px 24px 0 24px;
  margin: 0;
}

.h2-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px 0 24px;
  color: #7f8cff;
  margin: 0;
}

.par1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 12px 24px 0 24px;
  margin: 0;
  text-align: justify;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

.hdr {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
  margin-top: 44px;

}

.ulist {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 24px;
  margin: 16px 0 136px 0;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 88px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 114px 24px 0 24px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-self: center;
}
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }

.div2,
.div3,
.div4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 24px 0 24px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-self: center;
}

.about-me {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 114px 0 0 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  justify-self: center;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  border-top-right-radius: 100px;
}

.div1-bgr {
  display: flex;
  width: 100%;
}

.box2a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.gen-title {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

.list-canopy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 12px 12px 0;
  gap: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.list-canopy1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.list-canopy2,
.list-canopy4 {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.list-canopy3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.list-canopy5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.list-langs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  margin-top: 36px;
}

.list-langs1 {
  float: left;
  list-style: none;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.box2b {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  gap: 12px;
  margin: 0 24px 0 0;
}

.box2c {
  margin-top: 12px;
}

.box2c-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 203px;
  height: 24px;
}

.box2d {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 12px 12px 0;
  gap: 12px;
  width: 124px;
  height: 48px;
}

.box2d-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 100px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #fff;
}

.box2d-button:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 100px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  background: #6070ff;
}

.box2d-button:focus {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 100px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  background: #2230d2;
}

.about-p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-top: 12px;
  margin-right: 24px;
}

.h3-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 0;
  padding: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.list-style {
  list-style: none;
  padding-left: 10px;
}

.list-styleb {
  padding-top: 24px;
}

.frame {
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
}

.frame7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-left: 0;
  padding-right: 24px;
}

.frame7,
span {
  align-items: center;
}

.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding: 24px 0 24px 0;
}

.separator {
  border: none;
  border-bottom: 1px solid  #dfe1e6;
}

.contact-me {
  grid-area: 5 / 1 / 6 / 2;
  background-image: url(images/contactme-shapes.png), url(images/Contactme-bg.png);
  background-color: white;
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right, left top;
  padding: 10px 24px 0 24px;
  flex-wrap: wrap;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 103px;
}

.p-contact-me {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: justify;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.form-name {
  margin-bottom: 20px;
  padding: 16px 38px 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 45px;
}

.form-email {
  margin-bottom: 18px;
  padding: 16px 38px 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form-msg {
  margin-bottom: 22px;
  padding: 16px 38px 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #172b4d;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 140px;
}

#contact-button {
  width: max-content;
  margin-bottom: 32px;
}

/* ------------ DESKTOP scaling ------------ */

@media screen and (min-width: 768px) {

  header {
    border-bottom-left-radius: 130px;
  }

  .bar {
    display: none;
  }

  .logo {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    text-align: center
  }

  .bar-desktop {
    display: block;
    margin: 0 142px auto auto;
  }

  .bar-desktop-list {
    display: flex;

    list-style: none;
    justify-content: flex-start;
    gap: 10px;
  }

  .bdl-el {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding: 10px 12px;
  }

  .hdr {
    padding-top: 15px;
    padding-left: 133px;
    margin-top: 0px;
  }

  .h1-text {
    margin: 288px 260px 0 260px;
    padding: 0;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    height: 122px;
  }

  .par1 {
    margin: 0 260px 0 260px;
    padding: 12px 0 12px 0;
    font-size: 20px;
    line-height: 28px;
    height: 98px;
  }

  .h2-text {
    margin: 0 260px 14px 260px;
    padding: 0;
  }

  .ulist {
    margin: 0 1010px 255px 260px;
    padding: 0;
  }
}